<partial name="_Slide" />
<section>
    <div class="container">
        <p style="font-size:47px;">
            @_localization.Getkey("UnderConstruction1")<br>
            @_localization.Getkey("UnderConstruction2")<br>
            @_localization.Getkey("UnderConstruction3")
        </p>
    </div>
</section>
